.wrapper {
  padding: 2rem;
  max-width: 720px;
  margin: 0 auto;
}

.inputRow {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.input {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid var(--primary-dark);
  background-color: var(--primary-light);
  color: var(--secondary-dark);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding: 2rem;
  width: fit-content;
  margin: 0 auto;
}
