/* ====== 1. Reset ====== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ====== 2. Theme Variables ====== */
:root {
  /* Background */
  --felt-bg: url('./assets/pokerfelt.jpg');
  --primary-dark: black;
  --secondary-dark: #2b2929;
  --color-text: white;
  --poker-chip-red: #7a0000;
  --felt-color: #35654d; /*Poker felt green */
  --color-muted: #aaa;
  --font-body: 'Inter', system-ui, sans-serif;
  --poker-chip-accent: black;

  --background: var(--felt-color);

  /* Project Label */
  --ProjectLabel: white;
  --ProjectLabelFlicker: var(--poker-chip-red);
  --ProjectFilterShadow1: white;
  --ProjectFilterShadow2: var(--poker-chip-red);

  --MenuBackground: var(--secondary-dark);
}

/* ====== 4. Global Base Styles ====== */
body {
  min-width: 320px !important; /*Smallest device width in browser dev tools (iphone 5/SE)*/
  font-family: var(--font-body);
  background-image: var(--felt-bg);
  background-repeat: repeat;
  background-size: auto;

  color: var(--color-text);
  line-height: 1.6;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Light Theme */
.light {
  --color-text: black;
  --color-muted: #aaa;
  --font-body: 'Inter', system-ui, sans-serif;
  --poker-chip-accent: white;

  --background: snow;

  /* Project Label */
  --ProjectLabel: white;
  --ProjectLabelFlicker: var(--poker-chip-red);
  --ProjectFilterShadow1: white;
  --ProjectFilterShadow2: var(--poker-chip-red);

  --MenuBackground: snow;
}
